// Place all the styles related to the keyboard_demos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body{
  position: relative;
}
#kcontainer{
  position: absolute;
  bottom: 40px;
  width: 96%;
  padding-left: 2%;
}

#onscreenkeys{
color: #00f900;
margin: 1px;
width: 90%;

height: 20px;
text-align: left;
padding-top: 10px;

top: 50%;
}


.hidebtn{
  position: absolute;
  color: white;
  text-align: right;
  bottom: 8px;
  right: 0;
  padding-right: 2%;
}
